.content {
    margin-bottom: 40px;

    &__header {
        @include flexCenter;
        justify-content: center;
        padding: 25px 0;
        border-top: 1px solid rgba(0, 0, 0, .2);

        &--menu {
            @include flexCenter;
            margin-right: 50px;
            position: relative;

            .icon {
                margin-right: 5px;
            }

            p {
                color: rgba(0, 0, 0, .4);
                text-transform: uppercase;
            }

            &.selected {
                p {
                    color: black;
                }
            }

            &.selected::before {
                content: '';
                display: block;
                position: absolute;
                top: -26px;
                width: 100%;
                height: 1px;
                background: black;
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 32px;

        &--box {
            max-width: 280px;
            margin: 0 auto;
        }
    }
}